
body {
    background-color: #eeeeee;
    font-family: "Cambria", Helvetica, Arial, sans-serif;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-color: grey;
}

.player-row {
    width: 750px;
    margin: 0 auto;
}

.player-table {
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 5px grey solid;
    width: 510px;
}

.player-info {
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 5px lightgrey solid;
    width: 120px;
    height: 102px;
}

.info {
    font-size: 30px;
}

.board {
    height: 50px;
}

.draft {
    height: 50px;
}

.clear {
    clear: both;
}

.card {
    float: left;
    font-weight: bold;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 5px white solid;
}

.draft .card {
    float: right;
    cursor: pointer;
}
#player-board-0 .card-teal{
    cursor: pointer;
}

.card-yellow {
    color: black;
    background-color: yellow;
}
.card-green {
    color: black;
    background-color: lightgreen;
}
.card-purple {
    color: white;
    background-color: purple;
}
.card-blue {
    color: white;
    background-color: blue;
}
.card-teal {
    color: black;
    background-color: lightblue;
}
.card-red {
    color: white;
    background-color: red;
}
.card-pink {
    color: black;
    background-color: pink;
}
